In [1]:
!pip install scikit-plot

Collecting scikit-plot
  Downloading https://files.pythonhosted.org/packages/7c/47/32520e259340c140a4ad27c1b97050dd3254fdc517b1d59974d47037510e/scikit_plot-0.3.7-py3-none-any.whl
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (0.22.2.post1)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (1.4.1)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (3.2.2)
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (1.0.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->scikit-plot) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.4.0->scikit-plot) (1.15.0)
Installing collected packages: scikit-plot
Successfully installed scikit-plot-0.3.7

In [2]:
import numpy as np
import pandas as pd
import torch
import glob
import scikitplot as skplt
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
import matplotlib as mpl
import numpy as np
from numpy.polynomial.polynomial import polyfit
import csv

# 讀取資料

In [ ]:
pth_list = glob.glob("/content/data - data (1).csv") # 讀取csv

In [ ]:
pth_list

['/content/data - data (1).csv']

In [ ]:
df_list = []

for pth in pth_list:

  df_list.append(pd.read_csv(pth))  


df = pd.concat(df_list, axis = 0)

In [ ]:
df.head(20)

             DATE_TIME         LON        LAT      TAG
0   2017-11-23 8:54:51  121.456230  25.062767  CELL_99
1   2017-11-23 8:54:47  121.456230  25.062767  CELL_98
2   2017-11-23 8:54:28  121.456245  25.062361  CELL_98
3   2017-11-23 8:54:40  121.456230  25.062767  CELL_98
4   2017-11-23 8:54:47  121.456230  25.062767  CELL_98
5   2017-11-23 8:54:34  121.454811  25.064192  CELL_98
6   2017-11-23 8:54:26  121.456245  25.062361  CELL_97
7   2017-11-23 8:54:26  121.449966  25.062826  CELL_97
8   2017-11-23 8:54:26  121.449966  25.062826  CELL_97
9   2017-11-23 8:54:19  121.453629  25.061743  CELL_96
10  2017-11-23 8:54:19  121.453629  25.061743  CELL_96
11  2017-11-23 8:54:28  121.456245  25.062361  CELL_95
12  2017-11-23 8:54:28  121.456245  25.062361  CELL_95
13  2017-11-23 8:54:28  121.456230  25.062767  CELL_95
14  2017-11-23 8:54:26  121.450386  25.064285  CELL_95
15  2017-11-23 8:54:06  121.449966  25.062826  CELL_94
16  2017-11-23 8:54:24  121.449966  25.062826  CELL_94
17  2017-11-23 8:54:24  121.449966  25.062826  CELL_94
18  2017-11-23 8:54:15  121.450386  25.064285  CELL_94
19  2017-11-23 8:54:06  121.452675  25.054808  CELL_94

In [ ]:
df.dtypes

DATE_TIME     object
LON          float64
LAT          float64
TAG           object
dtype: object

# 1.將重複項刪除並儲存

In [ ]:
df_new=df.drop_duplicates(subset=None, keep='first', inplace=False)

In [ ]:
df_new.head(20)

             DATE_TIME         LON        LAT      TAG
0   2017-11-23 8:54:51  121.456230  25.062767  CELL_99
1   2017-11-23 8:54:47  121.456230  25.062767  CELL_98
2   2017-11-23 8:54:28  121.456245  25.062361  CELL_98
3   2017-11-23 8:54:40  121.456230  25.062767  CELL_98
5   2017-11-23 8:54:34  121.454811  25.064192  CELL_98
6   2017-11-23 8:54:26  121.456245  25.062361  CELL_97
7   2017-11-23 8:54:26  121.449966  25.062826  CELL_97
9   2017-11-23 8:54:19  121.453629  25.061743  CELL_96
11  2017-11-23 8:54:28  121.456245  25.062361  CELL_95
13  2017-11-23 8:54:28  121.456230  25.062767  CELL_95
14  2017-11-23 8:54:26  121.450386  25.064285  CELL_95
15  2017-11-23 8:54:06  121.449966  25.062826  CELL_94
16  2017-11-23 8:54:24  121.449966  25.062826  CELL_94
18  2017-11-23 8:54:15  121.450386  25.064285  CELL_94
19  2017-11-23 8:54:06  121.452675  25.054808  CELL_94
21  2017-11-23 8:54:02  121.452675  25.054808  CELL_93
22  2017-11-23 8:54:01  121.448494  25.060061  CELL_93
24  2017-11-23 8:53:58  121.449486  25.058641  CELL_92
26  2017-11-23 8:54:04  121.452675  25.054808  CELL_91
29  2017-11-23 8:54:02  121.450272  25.060368  CELL_91

In [ ]:
#最后保存到dfc
df_new.to_csv('dfc.csv')

# 2.把tag數量統計並儲存

In [ ]:
tag=df_new.TAG.value_counts()
tag.to_csv('tag.csv')

In [ ]:
tag.head(20)

CELL_136    559
CELL_133    283
CELL_1      116
CELL_141    103
CELL_132     50
CELL_144     47
CELL_12      44
CELL_140     25
CELL_41      16
CELL_118     14
CELL_138     13
CELL_104     12
CELL_122     12
CELL_100     12
CELL_40      11
CELL_4       11
CELL_135     11
CELL_134     11
CELL_10      11
CELL_123     11
Name: TAG, dtype: int64

# 3.home的cell_1存取成csv
藉由geo.json觀察資料和時間並選取cell_1當做住家

In [ ]:
df_home=df_new[df_new.TAG=="CELL_1"]
df_home1=df_home.sort_values('DATE_TIME',ascending=True)
df_home1.head(60)
df_home1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 2721 to 2719
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE_TIME  116 non-null    object
 1   LON        116 non-null    float64
 2   LAT        116 non-null    float64
 3   TAG        116 non-null    object
dtypes: float64(2), object(2)
memory usage: 4.5+ KB

In [ ]:
df_home1.to_csv('dfhome.csv')

# 4.work的cell_136,133,141,132存取成csv
藉由geo.json觀察資料和時間並選取cell_136,133,141,132當做work

In [ ]:
df_work1=df_new[df_new.TAG=="CELL_136"]
df_work2=df_new[df_new.TAG=="CELL_133"]
df_work3=df_new[df_new.TAG=="CELL_141"]
df_work4=df_new[df_new.TAG=="CELL_132"]

In [ ]:
df_work_new=pd.concat([df_work1,df_work2,df_work3,df_work4],axis=0)
df_work_new1=df_work_new.sort_values('DATE_TIME',ascending=True)
df_work_new1.head(100)
df_work_new1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 2293 to 2271
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE_TIME  995 non-null    object
 1   LON        995 non-null    float64
 2   LAT        995 non-null    float64
 3   TAG        995 non-null    object
dtypes: float64(2), object(2)
memory usage: 38.9+ KB

In [ ]:
df_work_new1.to_csv('dfwork.csv')

# 5.去掉work和home剩下的當作路徑存成csv

In [ ]:

df_new=df_new[df_new.TAG!="CELL_1"]
df_new=df_new[df_new.TAG!="CELL_136"]
df_new=df_new[df_new.TAG!="CELL_141"]
df_new=df_new[df_new.TAG!="CELL_132"]
df_path=df_new[df_new.TAG!="CELL_133"]
df_path.TAG.value_counts()

CELL_144    47
CELL_12     44
CELL_140    25
CELL_41     16
CELL_118    14
            ..
CELL_200     1
CELL_209     1
CELL_7       1
CELL_190     1
CELL_206     1
Name: TAG, Length: 216, dtype: int64

In [ ]:
df_path.to_csv('dfpath.csv')